*{
    margin: 0vh;
    padding: 0vh;
    box-sizing: border-box;
}
  
.avaliacoesAdm-page { 
    background-color: #F2F2F2;
    width: 100%;  
    max-width: 100%;
    height: 100%; 
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden; 
}

.inicio-avaliacoesAdm { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
    width: 100%;
}

.separador-avaliacoesAdm {
    display: flex;
    align-items: center;
    justify-content: center;  
    width: 100%;
    max-width: 80%;
    margin-top: 3vh;
}

.divider-avaliacoesAdm {
    width: 80%;
    height: 0.5px;
    background-color: #7F2727; 
}

.circle-avaliacoesAdm {
    width: 8px;
    height: 8px;
    background-color: #7F2727;
    border-radius: 50%;
}

.search-avaliacoesAdm{ 
    background-color: transparent;
    border: none;
    text-align: center;
    outline: none;
    width: 500px;
    height: 40px;
}

.layout-avaliacoesAdm{ 
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.cards-avaliacoesAdm{
    margin-left: 0;
    margin-top: 80px;
}

.dataReserva-avaliacoesAdm{
    color: #7f2727f1;
    font-family: "Katibeh";
    font-weight: 300;
}

.fundoCards-avaliacoesAdm{
    margin-top: 20px;
    background-color: #ccaa6b94;
    width: 200px;
    height: 240px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-decoration: none;
}

.fundoCards-avaliacoesAdm:hover{
    background-color: #be9f6594;
    transition-duration: 0.3s;
  }

.cardsImg-avaliacoesAdm{
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.nomeCards-avaliacoesAdm, .cpfCards-avaliacoesAdm{
    background-color: #a38856ef;
    border-radius: 8px;
    width: 80%;
    height: 35px;
    color: #7F2727;
    font-family: "Kay Pho Du";
    font-size: 1rem;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 18px;
}

.reclamacao-avaliacoesAdm{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15px;
}

.text-avaliacoesAdm{
    color: #EFE5D1;
    background-color: #7c2728e1;
    font-family: "Katibeh";
    font-weight: 100;
    font-size: 2rem;
    width: 170px;
    height: 100px;
    border-radius: 15px;
}

.buttonSearch-avaliacoesAdm:hover{
    background-color: #962c2e;
    transition-duration: 0.3s;
}

/* DE 320 A 480 */
@media (min-width: 320px) and (max-width: 480px){

.avaliacoesAdm-page {
    width: 100%; 
    padding: 10px;
}

.avaliacoesAdm-titulo{
    color: #7f2727f5;
    font-size: 2.3rem;
    font-family: "Katibeh";
    font-weight: 300;
    text-align: center;
}

.fundo-avaliacoesAdm{ 
    background-color: #F7F2E9;
    width: 60%;
    min-width: 300px;
    max-width: 500px;
    height: 100px;
    margin-top: 6vh;
    gap: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding-right: 10px;
    border-bottom: #bdbdbd71 solid 4px;
    border-left: #bdbdbd5d solid 2px;
    border-right: #bdbdbd5d solid 2px;
}

.fundoPesquisa-avaliacoesAdm{
    background-color: #ccaa6bd2;
    width: 80%;
    min-width: auto;
    max-width: 200px;
    height: 60px;
    border-radius: 25px;
    display: flex;
    justify-content: left;
    align-self: center;
}

.pesquisa-avaliacoesAdm{ 
    border-radius: 25px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    padding-left: 6px;
}

.search-avaliacoesAdm::placeholder{ 
    color: #5C4C30;
    font-family: "Kreon";
    font-size: 0.8rem;
    text-align: left;
}

.buttonSearch-avaliacoesAdm{
    border: transparent;
    text-align: center;
    background-color: #7E2527;
    width: 60%;
    max-width: 90px;
    height: 40px;
    color: #FFFFFF;
    border-radius: 5px;
    font-family: "Kreon";
    font-size: 0.7rem;
}

.grid1-avaliacoesAdm, .grid2-avaliacoesAdm{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    margin-top: 50px;
}
} 

/* DE 481 A 1024 */
@media (min-width: 481px) and (max-width: 1024px){

.avaliacoesAdm-page {
    width: 100%; 
    padding: 10px;
}

.avaliacoesAdm-titulo{
    color: #7f2727f5;
    font-size: 2.7rem;
    font-family: "Katibeh";
    font-weight: 300;
    text-align: center;
}

.fundo-avaliacoesAdm{ 
    background-color: #F7F2E9;
    width: 60%;
    min-width: 400px;
    max-width: 1000px;
    height: 100px;
    margin-top: 6vh;
    gap: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding-right: 10px;
    border-bottom: #bdbdbd71 solid 4px;
    border-left: #bdbdbd5d solid 2px;
    border-right: #bdbdbd5d solid 2px;
}

.fundoPesquisa-avaliacoesAdm{
    background-color: #ccaa6bd2;
    width: 80%;
    min-width: auto;
    max-width: 1000px;
    height: 60px;
    border-radius: 25px;
    display: flex;
    justify-content: left;
    align-self: center;
}

.pesquisa-avaliacoesAdm{
    border-radius: 25px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    padding-left: 10px;
}

.search-avaliacoesAdm::placeholder{ 
    color: #5C4C30;
    font-family: "Kreon";
    font-size: 1rem;
    text-align: left;
}

.buttonSearch-avaliacoesAdm{
    border: transparent;
    text-align: center;
    background-color: #7E2527;
    width: 60%;
    max-width: 100px;
    height: 40px;
    color: #FFFFFF;
    border-radius: 5px;
    font-family: "Kreon";
    font-size: 0.8rem;
}

.grid1-avaliacoesAdm, .grid2-avaliacoesAdm{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 50px;
}
}

/* DE 1025 a 1500 */
@media (min-width: 1025px) and (max-width: 1500px) {

.avaliacoesAdm-page {
    width: 100%; 
    padding: 10px;
}

.avaliacoesAdm-titulo{
    color: #7f2727f5;
    font-size: 3rem;
    font-family: "Katibeh";
    font-weight: 300;
    text-align: center;
}

.fundo-avaliacoesAdm{ 
    background-color: #F7F2E9;
    width: 45%;
    min-width: 600px;
    max-width: 1000px;
    height: 100px;
    margin-top: 6vh;
    gap: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    padding-right: 10px;
    border-bottom: #bdbdbd71 solid 4px;
    border-left: #bdbdbd5d solid 2px;
    border-right: #bdbdbd5d solid 2px;
}

.fundoPesquisa-avaliacoesAdm{
    background-color: #ccaa6bd2;
    width: 70%;
    min-width: auto;
    max-width: 1000px;
    height: 60px;
    border-radius: 25px;
    display: flex;
    justify-content: left;
    align-self: center;
}

.pesquisa-avaliacoesAdm{
    border-radius: 25px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    padding-left: 30px;
}

.search-avaliacoesAdm::placeholder{ 
    color: #5C4C30;
    font-family: "Kreon";
    font-size: 1rem;
    text-align: left;
}

.buttonSearch-avaliacoesAdm{
    border: transparent;
    text-align: center;
    background-color: #7E2527;
    width: 40%;
    max-width: 140px;
    height: 40px;
    color: #FFFFFF;
    border-radius: 5px;
    font-family: "Kreon";
    font-size: 1rem;
    cursor: pointer;
}

.grid1-avaliacoesAdm, .grid2-avaliacoesAdm{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-top: 50px;
}
}

/* DE 1500 em diante */
@media (min-width: 1500px) {

.avaliacoesAdm-page {
    width: 100%; 
    padding: 10px;
}

.avaliacoesAdm-titulo{
    color: #7f2727f5;
    font-size: 3rem;
    font-family: "Katibeh";
    font-weight: 300;
    text-align: center;
}

.fundo-avaliacoesAdm{ 
    background-color: #F7F2E9;
    width: 45%;
    min-width: 600px;
    max-width: 1000px;
    height: 100px;
    margin-top: 6vh;
    gap: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    padding-right: 10px;
    border-bottom: #bdbdbd71 solid 4px;
    border-left: #bdbdbd5d solid 2px;
    border-right: #bdbdbd5d solid 2px;
}

.fundoPesquisa-avaliacoesAdm{
    background-color: #ccaa6bd2;
    width: 70%;
    min-width: auto;
    max-width: 1000px;
    height: 60px;
    border-radius: 25px;
    display: flex;
    justify-content: left;
    align-self: center;
}

.pesquisa-avaliacoesAdm{
    border-radius: 25px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    padding-left: 30px;
}

.search-avaliacoesAdm::placeholder{ 
    color: #5C4C30;
    font-family: "Kreon";
    font-size: 1rem;
    text-align: left;
}

.buttonSearch-avaliacoesAdm{
    border: transparent;
    text-align: center;
    background-color: #7E2527;
    width: 40%;
    max-width: 140px;
    height: 40px;
    color: #FFFFFF;
    border-radius: 5px;
    font-family: "Kreon";
    font-size: 1rem;
    cursor: pointer;
}

.grid1-avaliacoesAdm, .grid2-avaliacoesAdm{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    margin-top: 50px;
}
}