* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fundo_quartos-Adm {
  background-color: #ccaa6b85;
  max-width: 100%;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.img {
  width: 80px;
}

.inicio,
.contato,
.acomodacao,
.login {
  cursor: pointer;
  color: #5a2a2a;
  font-weight: bold;
} 

.quarto-container-Adm {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 120px;
  gap: 50px;
}

.galeria-principal-Adm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagem-principal-Adm {
  width: 650px;
  height: 450px;
  /* object-fit: cover; */
  border-radius: 20px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

.miniaturas-Adm {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.miniatura-Adm {
  width: 100px;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.3s, transform 0.3s;
}

.miniatura-Adm:hover,
.miniatura-Adm.ativa {
  opacity: 1;
  transform: scale(1.05);
}

.detalhes-quarto-Adm {
  background-color: #efe5d1e3;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.preco-container-Adm p {
  color: #661f1f;
  font-size: 18px;
}

.preco-container-Adm   h2 {
  color: #5a2a2a;
  font-size: 36px;
  margin: 10px 0;
}

.form-reserva-Adm input,
.form-reserva-Adm select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.btn-reservar-Adm {
  background-color: #8a4b4b;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-reservar-Adm:hover {
  background-color: #7a3f3f;
}

.domo_titulo-Adm {
  color: #7c2728;
  font-size: 40px;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
}

.aviso-Adm div {
  opacity: 96%;
  background-color: #a38856;
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 300px;
}

.aviso-Adm {
  background-image: url("../../../assets/quartos/domo-grande.png");
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aviso-Adm p {
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
}

.tudo_domo-Adm {
  margin-top: 50px;
  width: 100%;
  text-align: center;
  padding: 20px 0 0 0;
}

.tudo_domo-Adm article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 50px 0 0 0;
}

.informacoes_domo-Adm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.informacoes_domo-Adm .botton {
  background-color: #f2f2f2;
  height: 350px;
  width: 100%;
}
.informacoes_domo-Adm .top {
  height: 350px;
  width: 100%;
  padding: 0px 30px;
}

.arcondicionado-Adm {
  display: flex;
}

.line-Adm {
  display: flex;
}

.item-Adm {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 40%;
  padding: 10px;
  color: #712123;
}

.item-Adm p {
  margin: 10px;
}

.line2-Adm {
  display: flex;
}

.line2-Adm a {
  color: #a38856;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px;
}

.item2-Adm {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 40%;
  padding: 40px 40px;
  margin: 0;
}

.textcor-Adm {
  background-color: #7c2728c4;
  color: #efe5d1;
  font-size: 25px;
  border-radius: 10px;
  width: 150px;
}

.textsem-Adm {
  color: #a38856;
  font-size: 20px;
  padding: 0px 10px;
  justify-content: start;
  align-items: center;
}

.avaldomo-Adm {
  background-color: #f2f2f2;
  color: #7c2728;
  font-size: 40px;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
  padding-top: 70px;
  padding-left: 80px;
}

.testimonials-container-Adm {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 70px;
  margin-left: 40px;
}

.testimonial-item-Adm {
  display: flex;
  align-items: center;
  background: #efe5d1;
  border-radius: 20px;
  width: 400px;
  max-width: 400px;
  height: 50px;
  margin-left: 50px;
}

.testimonial-item-Adm:nth-child(2),
.testimonial-item-Adm:nth-child(4) {
  flex-direction: row-reverse;
  margin-left: 200px;
}

.testimonial-img-container-Adm {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;

  background: #ccaa6b; /* Cor do fundo do círculo */
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-img-Adm {
  width: 60%;
  height: 60%;
  object-fit: cover;
}

.testimonial-text-Adm {
  font-size: 16px;
  color: #712123;
  font-weight: lighter;
  margin: 10px;
}

.star-rating-Adm {
  display: flex;
  justify-content: center;
  top: 450px; /* Ajuste para posicionar corretamente */
  left: 1425px;
}

.star-rating-Adm input {
  display: none;
}

.star-Adm {
  cursor: pointer;
  transition: color 0.2s;
}

.avaliacoes-Adm {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
}

.aval_domo-Adm p {
  color: #7e2527;
  font-size: 25px;
  padding: 20px;
}

.aval_domo-Adm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 300px;
}

.aval-container-Adm {
  text-align: center;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 120px;
}

.aval-container-Adm p {
  color: #d2ad6f;
  font-size: 18px;
  margin-bottom: 20px;
  width: 300px;
}

.form-aval-Adm {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 120px;
}

.info_form_aval-Adm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.input-email-Adm {
  background-color: #7c2728c4;
  width: 260px;
  padding: 12px;
  border: 1px solid #998050;
  border-radius: 12px;
  text-align: center;
  color: #efe5d1;
  font-weight: bold;
  outline: none;
  font-size: 16px;
}

.input-email-Adm::placeholder {
  color: #efe5d1;
  opacity: 1;
  font-weight: lighter;
}

.input-nome-Adm {
  background-color: #7c2728c4;
  width: 260px;
  padding: 12px;
  border: 1px solid #998050;
  border-radius: 12px;
  text-align: center;
  color: #efe5d1;
  font-weight: bold;
  outline: none;
  font-size: 16px;
}

.input-nome-Adm::placeholder {
  color: #efe5d1;
  opacity: 1;
  font-weight: lighter;
}

.input-mensg-Adm {
  background-color: #7c2728c4;
  width: 260px;
  padding: 12px;
  border: 1px solid #998050;
  border-radius: 12px;
  text-align: center;
  color: #efe5d1;
  font-weight: bold;
  outline: none;
  font-size: 16px;
}

.input-mensg-Adm::placeholder {
  color: #efe5d1;
  opacity: 1;
  font-weight: lighter;
}

.btn-enviar-Adm {
  width: 200px;
  padding: 12px;
  background-color: #e0cda8;
  border: none;
  border-radius: 20px;
  color: #ccaa6b;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-enviar-Adm:hover {
  background-color: #ccaa6bb7;
}

@media (max-width: 700px) {
  .img-Adm {
    width: 30px;
  }

  .inicio,
  .contato,
  .acomodacao,
  .login {
    cursor: pointer;
    color: #5a2a2a;
    font-weight: bold;
  }

  .quarto-container-Adm {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 120px;
    gap: 50px;
  }

  .galeria-principal-Adm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imagem-principal-Adm {
    width: 10px;
    height: 40px;
    /* object-fit: cover; */
    border-radius: 20px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  }

  .miniaturas-Adm {
    display: flex;
    gap: 10px;
    margin-top: 15px;
  }

  .miniatura-Adm {
    width: 10px;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.3s, transform 0.3s;
  }

  .miniatura-Adm:hover,
  .miniatura-Adm.ativa {
    opacity: 1;
    transform: scale(1.05);
  }

  .detalhes-quarto-Adm {
    background-color: #efe5d1e3;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .preco-container-Adm p {
    color: #661f1f;
    font-size: 18px;
  }

  .preco-container-Adm h2 {
    color: #5a2a2a;
    font-size: 36px;
    margin: 10px 0;
  }

  .form-reserva-Adm input,
  .form-reserva-Adm select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  .btn-reservar-Adm {
    background-color: #8a4b4b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .btn-reservar-Adm:hover {
    background-color: #7a3f3f;
  }

  .domo_titulo-Adm {
    color: #7c2728;
    font-size: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
  }

  .aviso-Adm div {
    opacity: 96%;
    background-color: #a38856;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 300px;
  }

  .aviso-Adm {
    background-image: url("../../../assets/quartos/domo-grande.png");
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .aviso-Adm p {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
  }

  .tudo_domo-Adm {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    padding: 20px 0 0 0;
  }

  .tudo_domo-Adm article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 50px 0 0 0;
  }

  .informacoes_domo-Adm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }

  .informacoes_domo-Adm .botton {
    background-color: #f2f2f2;
    height: 350px;
    width: 100%;
  }
  .informacoes_domo-Adm .top {
    height: 350px;
    width: 100%;
    padding: 0px 30px;
  }

  .arcondicionado-Adm {
    display: flex;
  }

  .line-Adm {
    display: flex;
  }

  .item-Adm {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 40%;
    padding: 10px;
    color: #712123;
  }

  .item-Adm p {
    margin: 10px;
  }

  .line2-Adm {
    display: flex;
  }

  .line2-Adm a {
    color: #a38856;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;
  }

  .item2-Adm {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 40%;
    padding: 40px 40px;
    margin: 0;
  }

  .textcor-Adm {
    background-color: #7c2728c4;
    color: #efe5d1;
    font-size: 25px;
    border-radius: 10px;
    width: 150px;
  }

  .textsem-Adm {
    color: #a38856;
    font-size: 20px;
    padding: 0px 10px;
    justify-content: start;
    align-items: center;
  }

  .avaldomo-Adm {
    background-color: #f2f2f2;
    color: #7c2728;
    font-size: 40px;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
    padding-top: 70px;
    padding-left: 80px;
  }

  .testimonials-container-Adm {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 70px;
    margin-left: 40px;
  }

  .testimonial-item-Adm {
    display: flex;
    align-items: center;
    background: #efe5d1;
    border-radius: 20px;
    width: 400px;
    max-width: 400px;
    height: 50px;
    margin-left: 50px;
  }

  .testimonial-item-Adm:nth-child(2),
  .testimonial-item-Adm:nth-child(4) {
    flex-direction: row-reverse;
    margin-left: 200px;
  }

  .testimonial-img-container-Adm {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;

    background: #ccaa6b; /* Cor do fundo do círculo */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .testimonial-img-Adm {
    width: 60%;
    height: 60%;
    object-fit: cover;
  }

  .testimonial-text-Adm {
    font-size: 16px;
    color: #712123;
    font-weight: lighter;
    margin: 10px;
  }

  .star-rating-Adm {
    display: flex;
    justify-content: center;
    top: 450px; /* Ajuste para posicionar corretamente */
    left: 1425px;
  }

  .star-rating-Adm input {
    display: none;
  }

  .star-Adm {
    cursor: pointer;
    transition: color 0.2s;
  }

  .avaliacoes-Adm {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
  }

  .aval_domo-Adm p {
    color: #7e2527;
    font-size: 25px;
    padding: 20px;
  }

  .aval_domo-Adm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 300px;
  }

  .aval-container-Adm {
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
  }

  .aval-container-Adm p {
    color: #d2ad6f;
    font-size: 18px;
    margin-bottom: 20px;
    width: 300px;
  }

  .form-aval-Adm {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 120px;
  }

  .info_form_aval-Adm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }

  .input-email-Adm {
    background-color: #7c2728c4;
    width: 260px;
    padding: 12px;
    border: 1px solid #998050;
    border-radius: 12px;
    text-align: center;
    color: #efe5d1;
    font-weight: bold;
    outline: none;
    font-size: 16px;
  }

  .input-email-Adm::placeholder {
    color: #efe5d1;
    opacity: 1;
    font-weight: lighter;
  }

  .input-nome-Adm {
    background-color: #7c2728c4;
    width: 260px;
    padding: 12px;
    border: 1px solid #998050;
    border-radius: 12px;
    text-align: center;
    color: #efe5d1;
    font-weight: bold;
    outline: none;
    font-size: 16px;
  }

  .input-nome-Adm::placeholder {
    color: #efe5d1;
    opacity: 1;
    font-weight: lighter;
  }

  .input-mensg-Adm {
    background-color: #7c2728c4;
    width: 260px;
    padding: 12px;
    border: 1px solid #998050;
    border-radius: 12px;
    text-align: center;
    color: #efe5d1;
    font-weight: bold;
    outline: none;
    font-size: 16px;
  }

  .input-mensg-Adm::placeholder {
    color: #efe5d1;
    opacity: 1;
    font-weight: lighter;
  }

  .btn-enviar-Adm {
    width: 200px;
    padding: 12px;
    background-color: #e0cda8;
    border: none;
    border-radius: 20px;
    color: #ccaa6b;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .btn-enviar-Adm:hover {
    background-color: #ccaa6bb7;
  }
}

.inf-excluir-Adm {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  gap: 30px;
  padding: 40px;
}

.inf-adm {
  background-color: #8a4b4b;
  color: #efe5d1;
  padding: 20px 60px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}

.excluir-adm {
  background-color: #8a4b4b;
  color: #efe5d1;
  padding: 20px 60px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}
