*{
  margin: 0vh;
  padding: 0vh;
  box-sizing: border-box;
}

.usuarios-page { 
  background-color: #F2F2F2;
  width: 100%;  
  max-width: 100%;
  height: 100%; 
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden; 
}

.inicio-usuarios { 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
  width: 100%;

}

.separador-usuarios {
  display: flex;
  align-items: center;
  justify-content: center;  
  width: 100%;
  max-width: 80%;
  margin-top: 3vh;
}

.divider-usuarios {
  width: 80%;
  height: 0.5px;
  background-color: #7F2727; 
}

.circle-usuarios {
  width: 8px;
  height: 8px;
  background-color: #7F2727;
  border-radius: 50%;
}

.search-usuarios{ 
  background-color: transparent;
  border: none;
  text-align: center;
  outline: none;
  width: 500px;
  height: 40px;
}

.layout-usuarios{ 
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.cards-usuarios{
  margin-left: 0;
  margin-top: 80px;
}

.dataReserva-usuarios{
  color: #7f2727f1;
  font-family: "Katibeh";
  font-weight: 300;
}

.fundoCards-usuarios{
  margin-top: 20px;
  background-color: #ccaa6b94;
  width: 200px;
  height: 240px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-decoration: none;
}

.cardsImg-usuarios{
  width: 100px;
  height: 100px;
  margin-top: 10px;
}

.nomeCards-usuarios, .cpfCards-usuarios{
  background-color: #a38856ef;
  border-radius: 8px;
  width: 80%;
  height: 35px;
  color: #7F2727;
  font-family: "Kay Pho Du";
  font-size: 1rem;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 18px;
}

.gridAdicionar-usuarios{ 
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding-left: 15px;
  width: 100%;
  cursor: pointer;
}

.adicionarIcon-usuarios{
  width: 20%;
  height: 30px;
  color: #5C4C30;
}

.adicionarButton-usuarios{
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 40%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 10%;
}

/* DE 320 A 480 */
@media (min-width: 320px) and (max-width: 480px){

.usuarios-page {
  width: 100%; 
  padding: 10px;
}

.usuarios-titulo{
  color: #7f2727f5;
  font-size: 2.3rem;
  font-family: "Katibeh";
  font-weight: 300;
  text-align: center;
}

.fundo-usuarios{ 
  background-color: #F7F2E9;
  width: 60%;
  min-width: 300px;
  max-width: 500px;
  height: 100px;
  margin-top: 6vh;
  gap: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  padding-right: 10px;
  border-bottom: #bdbdbd71 solid 4px;
  border-left: #bdbdbd5d solid 2px;
  border-right: #bdbdbd5d solid 2px;
}

.fundoPesquisa-usuarios{
  background-color: #ccaa6bd2;
  width: 80%;
  min-width: auto;
  max-width: 200px;
  height: 60px;
  border-radius: 25px;
  display: flex;
  justify-content: left;
  align-self: center;
}

.pesquisa-usuarios{ 
  border-radius: 25px;
  display: flex;
  justify-content: baseline;
  align-items: center;
  padding-left: 6px;
}

.search-usuarios::placeholder{ 
  color: #5C4C30;
  font-family: "Kreon";
  font-size: 0.8rem;
  text-align: left;
}

.buttonSearch-usuarios{
  border: transparent;
  text-align: center;
  background-color: #7E2527;
  width: 60%;
  max-width: 90px;
  height: 40px;
  color: #FFFFFF;
  border-radius: 5px;
  font-family: "Kreon";
  font-size: 0.7rem;
}

.grid1-usuarios, .grid2-usuarios{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
}

.fundoFinal-usuarios{
  background-color: #CCAA6B;
  width: auto;
  min-width: 280px;
  height: 60px;
  border-radius: 15px;
  display: flex;
  text-align: center;
  margin-top: 100px;
}

.textAdicionar-usuarios{
  font-family: "Kreon";
  font-weight: 200;
  color: #5C4C30;
  font-size: 1rem;
}
} 

/* DE 481 A 1024 */
@media (min-width: 481px) and (max-width: 1024px){

.usuarios-page {
    width: 100%; 
    padding: 10px;
}

.usuarios-titulo{
  color: #7f2727f5;
  font-size: 2.7rem;
  font-family: "Katibeh";
  font-weight: 300;
  text-align: center;
}

.fundo-usuarios{ 
  background-color: #F7F2E9;
  width: 60%;
  min-width: 400px;
  max-width: 1000px;
  height: 100px;
  margin-top: 6vh;
  gap: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  padding-right: 10px;
  border-bottom: #bdbdbd71 solid 4px;
  border-left: #bdbdbd5d solid 2px;
  border-right: #bdbdbd5d solid 2px;
}

.fundoPesquisa-usuarios{
  background-color: #ccaa6bd2;
  width: 80%;
  min-width: auto;
  max-width: 1000px;
  height: 60px;
  border-radius: 25px;
  display: flex;
  justify-content: left;
  align-self: center;
}

.pesquisa-usuarios{
  border-radius: 25px;
  display: flex;
  justify-content: baseline;
  align-items: center;
  padding-left: 10px;
}

.search-usuarios::placeholder{ 
  color: #5C4C30;
  font-family: "Kreon";
  font-size: 1rem;
  text-align: left;
}

.buttonSearch-usuarios{
  border: transparent;
  text-align: center;
  background-color: #7E2527;
  width: 60%;
  max-width: 100px;
  height: 40px;
  color: #FFFFFF;
  border-radius: 5px;
  font-family: "Kreon";
  font-size: 0.8rem;
}

.grid1-usuarios, .grid2-usuarios{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.fundoFinal-usuarios{
  background-color: #CCAA6B;
  width: auto;
  min-width: 350px;
  height: 60px;
  border-radius: 15px;
  display: flex;
  text-align: center;
  margin-top: 100px;
}

.textAdicionar-usuarios{
  font-family: "Kreon";
  font-weight: 200;
  color: #5C4C30;
  font-size: 1.2rem;
}
}

/* DE 1025 a 1500 */
@media (min-width: 1025px) and (max-width: 1500px) {

.usuarios-page {
  width: 100%; 
  padding: 10px;
}

.usuarios-titulo{
  color: #7f2727f5;
  font-size: 3rem;
  font-family: "Katibeh";
  font-weight: 300;
  text-align: center;
}

.fundo-usuarios{ 
  background-color: #F7F2E9;
  width: 45%;
  min-width: 600px;
  max-width: 1000px;
  height: 100px;
  margin-top: 6vh;
  gap: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
  padding-right: 10px;
  border-bottom: #bdbdbd71 solid 4px;
  border-left: #bdbdbd5d solid 2px;
  border-right: #bdbdbd5d solid 2px;
}

.fundoPesquisa-usuarios{
  background-color: #ccaa6bd2;
  width: 70%;
  min-width: auto;
  max-width: 1000px;
  height: 60px;
  border-radius: 25px;
  display: flex;
  justify-content: left;
  align-self: center;
}

.pesquisa-usuarios{
  border-radius: 25px;
  display: flex;
  justify-content: baseline;
  align-items: center;
  padding-left: 30px;
}

.search-usuarios::placeholder{ 
  color: #5C4C30;
  font-family: "Kreon";
  font-size: 1rem;
  text-align: left;
}

.buttonSearch-usuarios{
  border: transparent;
  text-align: center;
  background-color: #7E2527;
  width: 40%;
  max-width: 140px;
  height: 40px;
  color: #FFFFFF;
  border-radius: 5px;
  font-family: "Kreon";
  font-size: 1rem;
  cursor: pointer;
}

.grid1-usuarios, .grid2-usuarios{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.fundoFinal-usuarios{
  background-color: #CCAA6B;
  width: auto;
  min-width: 500px;
  height: 60px;
  border-radius: 15px;
  display: flex;
  text-align: center;
  margin-top: 100px;
}

.textAdicionar-usuarios{
  font-family: "Kreon";
  font-weight: 200;
  color: #5C4C30;
  font-size: 1.3rem;
  padding-left: 20px;
}
}

/* DE 1501 a 1799 */
@media (min-width: 1501px) and (max-width: 1799px) {

.usuarios-page {
  width: 100%; 
  padding: 10px;
}

.usuarios-titulo{
  color: #7f2727f5;
  font-size: 3rem;
  font-family: "Katibeh";
  font-weight: 300;
  text-align: center;
}

.fundo-usuarios{ 
  background-color: #F7F2E9;
  width: 45%;
  min-width: 600px;
  max-width: 1000px;
  height: 100px;
  margin-top: 6vh;
  gap: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
  padding-right: 10px;
  border-bottom: #bdbdbd71 solid 4px;
  border-left: #bdbdbd5d solid 2px;
  border-right: #bdbdbd5d solid 2px;
}

.fundoPesquisa-usuarios{
  background-color: #ccaa6bd2;
  width: 70%;
  min-width: auto;
  max-width: 1000px;
  height: 60px;
  border-radius: 25px;
  display: flex;
  justify-content: left;
  align-self: center;
}

.pesquisa-usuarios{
  border-radius: 25px;
  display: flex;
  justify-content: baseline;
  align-items: center;
  padding-left: 30px;
}

.search-usuarios::placeholder{ 
  color: #5C4C30;
  font-family: "Kreon";
  font-size: 1rem;
  text-align: left;
}

.buttonSearch-usuarios{
  border: transparent;
  text-align: center;
  background-color: #7E2527;
  width: 40%;
  max-width: 140px;
  height: 40px;
  color: #FFFFFF;
  border-radius: 5px;
  font-family: "Kreon";
  font-size: 1rem;
  cursor: pointer;
}

.grid1-usuarios, .grid2-usuarios{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
}

.fundoFinal-usuarios{
  background-color: #CCAA6B;
  width: auto;
  min-width: 500px;
  height: 60px;
  border-radius: 15px;
  display: flex;
  text-align: center;
  margin-top: 100px;
}

.textAdicionar-usuarios{
  font-family: "Kreon";
  font-weight: 200;
  color: #5C4C30;
  font-size: 1.3rem;
  padding-left: 20px;
}
}

/* DE 1800 em diante */
@media (min-width: 1800px) {

.usuarios-page {
  width: 100%; 
  padding: 10px;
}

.usuarios-titulo{
  color: #7f2727f5;
  font-size: 3rem;
  font-family: "Katibeh";
  font-weight: 300;
  text-align: center;
}

.fundo-usuarios{ 
  background-color: #F7F2E9;
  width: 45%;
  min-width: 600px;
  max-width: 1000px;
  height: 100px;
  margin-top: 6vh;
  gap: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
  padding-right: 10px;
  border-bottom: #bdbdbd71 solid 4px;
  border-left: #bdbdbd5d solid 2px;
  border-right: #bdbdbd5d solid 2px;
}

.fundoPesquisa-usuarios{
  background-color: #ccaa6bd2;
  width: 70%;
  min-width: auto;
  max-width: 1000px;
  height: 60px;
  border-radius: 25px;
  display: flex;
  justify-content: left;
  align-self: center;
}

.pesquisa-usuarios{
  border-radius: 25px;
  display: flex;
  justify-content: baseline;
  align-items: center;
  padding-left: 30px;
}

.search-usuarios::placeholder{ 
  color: #5C4C30;
  font-family: "Kreon";
  font-size: 1rem;
  text-align: left;
}

.buttonSearch-usuarios{
  border: transparent;
  text-align: center;
  background-color: #7E2527;
  width: 40%;
  max-width: 140px;
  height: 40px;
  color: #FFFFFF;
  border-radius: 5px;
  font-family: "Kreon";
  font-size: 1rem;
  cursor: pointer;
}

.grid1-usuarios, .grid2-usuarios{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 40px;
}

.fundoFinal-usuarios{
  background-color: #CCAA6B;
  width: auto;
  min-width: 500px;
  height: 60px;
  border-radius: 15px;
  display: flex;
  text-align: center;
  margin-top: 100px;
}

.textAdicionar-usuarios{
  font-family: "Kreon";
  font-weight: 200;
  color: #5C4C30;
  font-size: 1.3rem;
  padding-left: 20px;
}
}