/* Estilos da Navbar */



/* Estilos da imagem "vamos.png" */
.vamos-image {
  position: absolute;
  top: 170px; /* Ajuste a distância do topo conforme necessário */
  left: 20%; /* Centralizar horizontalmente */
  transform: translateX(-50%); /* Centralizar horizontalmente */
  width: 800px; /* Ajuste o tamanho conforme necessário */
  z-index: 1; /* Garantir que a imagem fique acima do fundo */
}

.contact-box {
  background-color: #d2ae6fa9;
  padding: 30px;
  border-radius: 30px;
  text-align: center;
  width: 300px;
  position: absolute;
  top: 55%;
  left: 25%;
  transform: translate(-50%, -50%);
 
}

.contact-text {
  color: white;
  font-size: 14px;
  line-height: 1.5;
}

.contact-button {
  background-color: #7F2727;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  font-size: 14px;
  margin-top: 10px;
}

.contact-button:hover {
  background-color: #7F2727;
  
}

.icons-image{
  position: absolute;
  top: 800px;
  left: 235px;
}

.ava-image{
position: absolute;
left: 1150px;
top: 160px;
}

.contato-form-contato{
  position: absolute;
  left: 1418px;
  top: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-contato2 {
  background-color: #D2AD6F;
  width: 90%;
  border-radius: 20px;
  border: none;
  margin-bottom: 10px;
  height: 30px;
  color: #FFFFFF; /* Cor da letra */
  text-align: center; /* Centraliza o texto horizontalmente */
  line-height: 30px; /* Centraliza o texto verticalmente */
}
  

.contato-button2{
  width: 100%;
  border-radius: 20px;
  background-color: #7F2727;
  border: none;
  display: flex;
  align-items: center;
  height: 30px;
  color: #FFFFFF;
}

.contact-text2{
  position: absolute;
  top: 300px;
  left: 1300px;
  color: #7F2727;
  line-height: 1.5;
  
}

.star-rating {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: absolute;
  top: 450px; /* Ajuste para posicionar corretamente */
  left: 1425px;
}

.star-rating input {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 0.2s;
}
