*{
  margin: 0vh;
  padding: 0vh;
  box-sizing: border-box;
}

.div-mae-peril{
  background-image: url("/src/assets/img/imgPerfil2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  margin: 0vh;
  padding: 0vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sair-perfil:hover{
  background-color: #962c2e;
  transition-duration: 0.3s;
}

/* DE 1025 em diante */
@media (min-width: 1025px){

.container-perfil{
  width: 80%;
  height: 700px;
  background-color: #efe5d1cb;
  border-radius: 20px;
  margin-top: 150px;
  display: flex;
}

.right-perfil{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.infoText-perfil{
  color: #7C2728;
  font-family: "Chonburi";
  font-weight: 300;
  font-size: 2.2rem;
}

.reservados-perfil{
  color: #7C2728;
  font-family: "Chonburi";
  font-weight: 300;
  font-size: 2.2rem;
  /* margin-top: 50px; */
}

.info-perfil{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.img-possition-perfil{
  margin-top: 40px;
}

.imgInfo-perfil{
  width: 300px;
}

.img-perfil-icone{
  width: 200px;
  height: 200px;
  margin-top: 40px;
}

.text-perfil{
  display: grid;
  flex-direction: column;
  height: auto;
  gap: 10px;
}

.nomeText-perfil, .emailText-perfil, .cpfText-perfil, .telefoneText-perfil{
  font-family: "Katibeh";
  font-weight: 300;
  font-size: 1.5rem;
  color: #7C2728;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textStyle-perfil{
  font-family: "Katibeh";
  font-weight: 300;
  font-size: 1.5rem;
  color: #960d10;
}

.linhaMeio-perfil{
  height: 700px;
}

.left-perfil{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.domo_perfil_img{
  width: 350px;
  height: 350px;
  margin-top: 40px;
}

.text-perfilFinal{
  display: grid;
  flex-direction: column;
  height: auto;
  gap: 5px;
  margin-top: 20px;
}

.domoText-perfil, .pagarText-perfil{
  font-family: "Katibeh";
  font-weight: 200;
  font-size: 1.7rem;
  color: #7C2728;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sair-perfil{
  color: #EFE5D1;
  background-color: #712122e1;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 10px;
  width: 20%;
  height: 50px;
  font-family: "Kay Pho Du";
  font-weight: 600;
  margin-top: 30px;
}
}