.container-geral-inputs2{
    display: flex;
    gap: 40px;
    margin-top: 30px;
    /* justify-content: center;
    align-items: center; */
    /* gap: 80px;
    width: 100%; */
}

.container-inputs3{
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    margin-top: 40px; */
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 50%;
    margin: 0;
    
}

.container-inputs4{
    /* display: flex;
    flex-direction: column;
    align-items:flex-end;
    margin-left: 150px;
    margin-top: 40px; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
    margin: 0;
}

.input-forma {
    background: transparent;
    border: 2px solid #a48b60;
    border-radius: 20px;
    outline: none;
    display: flex;
    justify-content: center;
    height: 40px;
    text-align: center;
}

.input-forma::placeholder{
    color: #a48b60;
    font-size: 1rem;
    font-family: "Karma";
    font-weight: 400;
}
