.acomodacoes-page{
    margin: 0vh;
    padding: 0vh;
    background-color: #F2F2F2;
    width: 100%;
    height: 100vh;
}

*{
  margin: 0vh;
  padding: 0vh;
}

.acomodacoes-page .header-acomodacoes{
  display: grid;
  justify-content: center;
  gap: 2vh;
}

.acomodacoes-page .acomodacoes-titulo{
  color: #CCAA6B;
  font-size: 3vh;
  font-family: "Chonburi";
  text-align: center;
}

.acomodacoes-page .separador-acomodacoes{

}

.acomodacoes-page .fundo-acomodacoes{
  background-color: #e2bedd;
}