.acomodacoes-page{
  background-color: #F2F2F2;
  width: 100%;
  min-height: 100vh;
  margin: 0vh;
  padding: 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

*{
  margin: 0vh;
  padding: 0vh;
  box-sizing: border-box;
}

.header-acomodacoes{
  justify-content: center;
  align-items: center;
  margin-top: 6vh;
  width: 30%;
}

.acomodacoes-titulo{
  color: #CCAA6B;
  font-size: 5vh;
  font-family: "Chonburi";
  text-align: center;
}

.separador-acomodacoes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 3vh;
}

.divider-acomodacoes {
  width: 100%;
  height: 0.5px;
  background-color: #CCAA6B; 
}

.circle-acomodacoes {
  width: 8px;
  height: 8px;
  background-color: #CCAA6B;
  border-radius: 50%;
}

.fundo-acomodacoes{
  background-color: #F7F2E9;
  width: 50%;
  height: 150px;
  margin-top: 6vh;
  gap: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: #bdbdbd71 solid 4px;
  border-left: #bdbdbd5d solid 2px;
  border-right: #bdbdbd5d solid 2px;
}

.checkin-acomodacoes{
  font-family: "Kreon";
  font-size: 1.5vh;
  color: #712123;
  text-align: start ;
}

.checkout-acomodacoes{
  font-family: "Kreon";
  font-size: 1.5vh;
  color: #712123;
  text-align: start ;
}

.hospedes-acomodacoes{
  font-family: "Kreon";
  font-size: 1.5vh;
  color: #712123;
  text-align: start ;
}

.buscar-acomodacoes{
  color: #F7F2E9;
  background-color: #712122;
  font-family: "Kreon";
  border-radius: 1vh;
  font-size: 2vh;
  border: none;
  width: 15%;
  max-width: 1024px;
  height: 40px;
  cursor: pointer;
  margin-top: 1.5%;
  align-self: center;
}

.data-acomodacoes{
  border-color: #7E2527;
  background-color: #f2f2f200;
  width: 120%;
  height: 40px;
}

.clientes-acomodacoes{
  border-color: #7E2527;
  background-color: #f2f2f200;
  width: 120%;
  height: 40px;
}

.data-acomodacoes::placeholder{
  text-align: center;
  font-size: 1.2rem;
  color: #BDBDBD;
}

.layout-acomodacoes {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  gap: 5vh;
  margin-top: 5vh;
}

.cardsFundo-acomodacoes{
  display: flex;
  align-items: center; 
  background-color: #d2ae6f99;
  width: 100%;
  height: 20vw;
  flex-wrap: wrap;
}

.cardsConteudo-acomodacoes{
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  max-width: 60%; 
  padding-left: 6vh;
  gap: 4vh;
}

.cardsImg-acomodacoes{
  height: 90%;
  padding-left: 6vh;
}

.cardsTitle-acomodacoes{
  color: #7C2728;
  font-family: "Kreon";
  font-weight: 500;
  font-size: 6vh;
}

.cardsText-acomodacoes{
  color: #7A6640;
  font-family: "Kreon";
  font-weight: 400;
  font-size: 3vh;
}

.cardsButton-acomodacoes{
  color: #F7F2E9;
  background-color: #712122;
  font-family: "Kreon";
  border-radius: 2vh;
  font-size: 3vh;
  border: none;
  width: 15%;
  height: 5vh;
  cursor: pointer;
}

.separadorFinal-acomodacoes{
  width: 100%;
}

.logo-acomodacoes{
  height: 15%;
  width: 8%;
  margin-top: 4%;
}