.acomodacoes-page{
  background-color: #F2F2F2;
  width: 100%;
  min-height: 100vh;
  margin: 0vh;
  padding: 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

*{
  margin: 0vh;
  padding: 0vh;
  box-sizing: border-box;
}

.header-acomodacoes{
  justify-content: center;
  align-items: center;
  margin-top: 6vh;
  width: 30%;
}

.acomodacoes-titulo{
  color: #CCAA6B;
  font-size: 5vh;
  font-family: "Chonburi";
  text-align: center;
}

.separador-acomodacoes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 3vh;
}

.divider-acomodacoes {
  width: 100%;
  height: 0.5px;
  background-color: #CCAA6B; 
}

.circle-acomodacoes {
  width: 8px;
  height: 8px;
  background-color: #CCAA6B;
  border-radius: 50%;
}

.fundo-acomodacoes{
  background-color: #F7F2E9;
  width: 50%;
  height: 150px;
  margin-top: 6vh;
  gap: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: #bdbdbd71 solid 4px;
  border-left: #bdbdbd5d solid 2px;
  border-right: #bdbdbd5d solid 2px;
}

.checkin-acomodacoes{
  font-family: "Kreon";
  font-size: 1.5vh;
  color: #712123;
  text-align: start ;
}

.checkout-acomodacoes{
  font-family: "Kreon";
  font-size: 1.5vh;
  color: #712123;
  text-align: start ;
}

.hospedes-acomodacoes{
  font-family: "Kreon";
  font-size: 1.5vh;
  color: #712123;
  text-align: start ;
}

.buscar-acomodacoes{
  color: #F7F2E9;
  background-color: #712122;
  font-family: "Kreon";
  border-radius: 1vh;
  font-size: 2vh;
  border: none;
  width: 15%;
  max-width: 1024px;
  height: 40px;
  cursor: pointer;
  margin-top: 1.5%;
  align-self: center;
}

.data-acomodacoes{
  background-color: #f2f2f200;
  border-bottom: #7E2527 solid 2px;
  border-left: #7E2527 solid 2px;
  border-right: #7E2527 solid 2px;
  border-top:#7E2527 solid 2px ;
  border-radius: 5px;
  width: 120%;
  height: 40px;
  text-align: center;
}

.react-datepicker__header { /*cabeçalho calendário*/
  background-color: #F2F2F2; 
  border-bottom: 2px solid #7E2527;
}

.react-datepicker { /*calendário*/
  background-color: #F2F2F2;
  border: #F2F2F2;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.react-datepicker__input-container input:focus { /*borda ao clicar*/
  border: 2px solid #7E2527 !important; 
  outline: none !important; 
}

.react-datepicker__day:hover { /*ao passar mouse*/
  background-color: #d2ae6f99 !important; 
  color: white !important;
}

.react-datepicker__day--in-selecting-range { /*ao passar mouse geral*/
  background-color: #D2AD6F !important; 
}

.react-datepicker__day--in-range {
  background-color: #D2AD6F !important; 
  color: black !important;
}
.react-datepicker__day--today { /*dia atual*/
  background-color: #d2ae6f00 !important; 
  color: black !important;
  font-weight: normal;
}

.react-datepicker__day--selected { /*dia selecionado*/
  background-color: #d2ae6f99 !important; 
  color: white !important; 
}

.clientes-acomodacoes{
  border-bottom: #7E2527 solid 2px;
  border-left: #7E2527 solid 2px;
  border-right: #7E2527 solid 2px;
  border-top:#7E2527 solid 2px ;
  border-radius: 5px;
  background-color: #f2f2f200;
  width: 120%;
  height: 40px;
  text-align: center;
}

.data-acomodacoes::placeholder{
  text-align: center;
  font-size: 1.2rem;
  color: #BDBDBD;
}

.layout-acomodacoes {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  gap: 5vh;
  margin-top: 5vh;
}

.cardsFundo-acomodacoes{
  display: flex;
  align-items: center; 
  background-color: #d2ae6f99;
  width: 100%;
  height: 20vw;
  flex-wrap: wrap;
}

.cardsConteudo-acomodacoes{
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  max-width: 60%; 
  padding-left: 6vh;
  gap: 4vh;
}

.cardsImg-acomodacoes{
  height: 90%;
  padding-left: 6vh;
}

.cardsTitle-acomodacoes{
  color: #7C2728;
  font-family: "Kreon";
  font-weight: 500;
  font-size: 6vh;
}

.cardsText-acomodacoes{
  color: #7A6640;
  font-family: "Kreon";
  font-weight: 400;
  font-size: 3vh;
}

.cardsButton-acomodacoes{
  color: #F7F2E9;
  background-color: #712122;
  font-family: "Kreon";
  border-radius: 2vh;
  font-size: 3vh;
  border: none;
  width: 15%;
  height: 5vh;
  cursor: pointer;
}

.imgFinal-acomodacoes{
  width: 100%;
}

.logoFinal-acomodacoes{
  height: 15%;
  width: 8%;
}

.imgLogoFinal-acomodacoes{
  max-width: 150px;
  max-height: 150px;
  width: 150px;
  height: 150px;
  
}

.final-acomodacoes{
  height: 40vw;
  display: flex;
  gap: 10vw;
  margin-top: 5%;
  padding-left: 5%;
}

.localizacao-acomodacoes{
  color: #7E2527;
  font-family: "Katibeh";
  font-weight: 200;
  font-size: 50px;
  margin-bottom: 15%;
}

.site-acomodacoes{
  color: #7E2527;
  font-family: "Katibeh";
  font-weight: 200;
  font-size: 50px;
  margin-bottom: 40%;
}

.atendimento-acomodacoes{
  color: #7E2527;
  font-family: "Katibeh";
  font-weight: 200;
  font-size: 50px;
  padding-left: 19%;
}

.infoLocalizacao-acomodacoes{
  color: #D2AD6F;
  font-family: "Katibeh";
  font-weight: 200;
  font-size: 30px;
}

.gridEmail-acomodacoes{
  display: flex;
  align-items: center;
  gap: 10px;
}

.gridPhone-acomodacoes{
  display: flex;
  align-items: center;
  gap: 10px;
}

.emailIcon-acomodacoes {
  color: #D2AD6F;
  height: 25px;
  width: auto;
  margin-top: 14px;
}

.phoneIcon-acomodacoes{
  color: #D2AD6F;
  height: 25px;
  width: auto;
  margin-top: 14px;
}

.infoSite-acomodacoes{
  color: #D2AD6F;
  font-family: "Katibeh";
  font-weight: 200;
  font-size: 30px;
}

.infoAtendimento-acomodacoes{
  color: #D2AD6F;
  font-family: "Katibeh";
  font-weight: 200;
  font-size: 30px;
  margin-top: 8%;
  padding-right: 20%;
}

.infoAtendimento2-acomodacoes{
  color: #D2AD6F;
  font-family: "Katibeh";
  font-weight: 200;
  font-size: 30px;
  margin-top: 35%;
  display: flex;
  justify-content: center;
  padding-right: 20%;
}

.acomodacoes-input{
  border-bottom: #998050 solid 2px;
  border-left: #998050 solid 2px;
  border-right: #998050 solid 2px;
  border-top:#998050 solid 2px ;
  background-color: #F2F2F2;
  border-radius: 8px;
  width: 50%;
  max-width: 100%;
  max-height: 100px;
  height: 50px;
  margin-top: 5%;
}

.acomodacoes-input::placeholder{
  text-align: center;
  color: #712123;
  font-family: "Katibeh";
  font-weight: 200;
  font-size: 30px;
}

.email-acomodacoes{
  display: flex;
  justify-content: center;
  padding-right: 20%;
}

.cadastro-acomodacoes{
  border-color: #7a664000;
  background-color: #997f5085;
  border-radius: 8px;
  margin-top: 8px;
  font-family: "Katibeh";
  font-weight: 200;
  color: #712123;
  font-size: 30px;
  border: none;
  width: 50%;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.submit-acomodacoes{
  display: flex;
  justify-content: center;
  padding-right: 20%;
}

.grid4-acomodacoes{
  display: flex;
}

.whatsIcon-acomodacoes{
  color: #CCAA6B;
  height: 25px;
  width: auto;
}

.faceIcon-acomodacoes{
  color: #CCAA6B;
  height: 25px;
  width: auto;
}

.instaIcon-acomodacoes{
  color: #CCAA6B;
  height: 25px;
  width: auto;
}

.Textdireito-acomodacoes{
  color: #BDBDBD;
  font-family: "Katibeh";
  font-weight: 200;
}

.grid4-acomodacoes{
  flex-direction: column;
  height: inherit;
  width: inherit;
}

.Widgets_acomodacoes{
  display: flex;
  gap: 1%;
  align-items: baseline;
  padding-left: 20%;
}

.direito-acomodacoes{
  padding-left: 8%;
}