* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

label{
  font-family: "Kreon";
  font-weight: 100;

}

.fundo {
  height: 80vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../assets/img/fundo1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.react-datepicker__header { /*cabeçalho calendário*/
  background-color: #F2F2F2; 
  border-bottom: 2px solid #7E2527;
}

.react-datepicker { /*calendário*/
  background-color: #F2F2F2;
  border: #F2F2F2;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.react-datepicker__input-container input:focus { /*borda ao clicar*/
  border: 2px solid #7E2527 !important; 
  outline: none !important; 
}

.react-datepicker__day:hover { /*ao passar mouse*/
  background-color: #d2ae6f99 !important; 
  color: white !important;
}

.react-datepicker__day--in-selecting-range { /*ao passar mouse geral*/
  background-color: #D2AD6F !important; 
}

.react-datepicker__day--in-range {
  background-color: #D2AD6F !important; 
  color: black !important;
}

.react-datepicker__day--today { /*dia atual*/
  background-color: #d2ae6f00 !important; 
  color: black !important;
  font-weight: normal;
}

.react-datepicker__day--selected { /*dia selecionado*/
  background-color: #d2ae6f99 !important; 
  color: white !important; 
}

.react-datepicker__day--disabled { /*data indisponível*/
  color: #cccccc !important; 
  cursor: not-allowed; 
  background-color: #f8f8f8 !important; 
}

.react-datepicker__day--disabled:hover { /*ao passar mouse sobre data indisponível*/
  background-color: #e0e0e0 !important;
}

.react-datepicker__day--keyboard-selected { /* primeira data disponível no check-out */
  background-color: #4caf4f00 !important; 
  color: rgb(0, 0, 0) !important; 
}

.clientes-inicio:focus { /*borda ao clicar*/
  border: 2px solid #7E2527 !important; 
  outline: none !important; 
}

.layout-inicio {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  gap: 3vh;
  margin-top: 3vh;
  width: 100%;
}

.grid4-inicio{
  display: flex;
  flex-direction: column;
  height: inherit;
  width: inherit;
}

.inicio-input:focus {
  outline: none;
  border-color: #998050 solid 2px;
}

.data-inicio, .clientes-inicio{ 
  background-color: #f2f2f200;
  border-bottom: #7E2527 solid 2px;
  border-left: #7E2527 solid 2px;
  border-right: #7E2527 solid 2px;
  border-top:#7E2527 solid 2px ;
  border-radius: 4px;
  padding: 20px 0;
  width: 100%;
  height: 20px;
  text-align: center;
}

.buscar-inicio{ 
  color: #F7F2E9;
  background-color: #712122;
  font-family: "Kreon";
  border-radius: 2vh;
  padding: 1%;
  font-size: 1rem;
  border: none;
  width: 15%;
  cursor: pointer;
  margin-top: 15px;
  align-self: center;
}

.cadastro-inicio:active {
  background-color: #997f5085 !important;
  outline: none;
}

.fundo-inicio{ 
  background-color: #FFFFFF;
  width: 60%;
  min-width: auto;
  max-width: 1000px;
  height: 130px;
  margin-top: 6vh;
  gap: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: -10%;
  z-index: 10;
  }

.checkin-inicio, .checkout-inicio, .adultos-inicio, .criancas-inicio{ 
  font-family: "Kreon";
  font-size: 22px;
  color: #712123;
  text-align: start ;
}

.cardsFundo-inicio{
  background-color: #d2ae6f99;
  flex-direction: column;
  height: auto;
  padding: 10px;
  align-items: center;
  display: flex;
}

.cardsConteudo-inicio{
  text-align: center;
  padding: 0;
}

.cardsImg-inicio{
  height: auto;
  max-width: 80%;
  padding: 0;
}

.cardsTitle-inicio{
  color: #7C2728;
  font-family: "Kreon";
  font-weight: 500;
  font-size: 1.3rem;
  margin-top: 1vh;
}

.cardsText-inicio{
  color: #fff7e8;
  font-family: "Kreon";
  font-weight: 400;
  font-size: 0.8rem;
  margin-top: 1vh;
}

.cardsButton-inicio{
  color: #F7F2E9; 
  background-color: #712122;
  font-family: "Kreon";
  border-radius: 2vh;
  border: none;
  cursor: pointer; 
  font-size: 0.8rem;
  width: 30%;
  margin-top: 1vh;
  padding: 4px;
}
.reserva-container {
  width: 800px;
  height: 100px;
  display: flex;
  align-items: center;
  margin-top: 39%;
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  gap: 15px;
}

.ambiente {
  color: #7A6640;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 250px;
  justify-content: center;
  position: relative;
  font-family: kreon, sans-serif;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
}

.setapbaixo {
  position: absolute;
  width: 25px;
  height: 25px;
  transition: all 450ms ease;
  animation: seta 1s linear infinite;
}
@keyframes seta {
  0%{
    margin-top: 5px;
  }
  50%{
    margin-top: 15px;
  }
  100%{
    margin-top: 5px;
  }
}

.descricao {
  width: 100%;
  height: 600px;
  background-color: #ccaa6b;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.img3 {
  width: 40%;
  height: 500px;
}

.pousadat {
  width: 550px;
  color: #5c4c30;
  align-items: center;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  font-family: kreon, sans-serif;
}

.avaliacao {
  color: #7a6640;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 150px;
  justify-content: center;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 0;
  font-family: kreon, sans-serif;
}

.celular {
  width: 400px;
  margin-left: 250px;
}

.coment {
  width: 600px;
  margin-left: 280px;
}

.quartosinicial {
  color: #7a6640;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 250px;
  justify-content: center;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 0;
  font-family: kreon, sans-serif;
}

.acomodacaorequi {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.imgquartos {
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  display: flex;
}
.imgquartos div {
  width: 30%;
  text-align: center;
}
.imgquartos div img {
  width: 100%;
  transition: all 400ms ease;
}
.imgquartos div img:hover {
  transform: scale(1.1);
}

.imgquartos div p {
  color: #7a6640;
  font-size: 32px;
  text-decoration: underline;
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
}

.galeria {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #52372E;
  margin: 100px 0 0 0;
  gap: 15px;
  padding: 10px 0;
}

.galeria p {
  font-size: 38px;
  color: #F4F4F4;
  font-family: kreon, sans-serif;
}
.galeria .fotos{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  padding: 10px;
}
.fotos1{
  width: 500px;
  height: 300px;
}

.fotos2{
  width: 500px;
  height: 300px;
}

.fotos3{
  width: 400px;
  height: 300px;
}

.fotos4{
  width: 400px;
  height: 300px;
}

.fotos5{
  width: 400px;
  height: 300px;
}

.fotos6{
  width: 400px;
  height: 300px;
}

.fotos7{
  width: 400px;
  height: 300px;
}

.fotos8{
  /* width: 280px; */
  height: 300px;
}

.fotos9{
  width: 370px;
  height: 300px;
}

.fotos10{
  width: 430px;
  height: 300px;
}

.rosa{
  width: 100%;
  height: 150px;
  background-color: #7f2727;
  opacity: 72%;
}

.localizacao {
  color: #7E2527;
  font-size: 40px;
}

.textolocal{
  padding: 10px;
}

.textolocal p {
  color: #D2AD6F;
  margin: 5px 0;
  font-size: 20px;
  line-height: 1.8;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 10px; 
  margin-top: 10px;
}

.info-item img {
  width: 24px;
  height: auto;
}

footer{
  padding: 40px;
  font-family: Katibeh;
}

footer .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}

.logofinal{
  width: 150px;
}

.site {
  color: #7E2527;
  font-size: 40px;
}

.barra{
  padding: 10px;
}

.barra p {
  color: #D2AD6F;
  margin: 5px 0;
  font-size: 20px;
  line-height: 1.8;   
}

.atendimento {
  color: #7E2527;
  font-size: 40px;
}

.tcontato{
  padding: 10px;
}

.tcontato p {
  width: 300px;
  color: #D2AD6F;
  margin: 5px 0;
  font-size: 20px;
  line-height: 1.5;
  font-family: Katibeh;
}

.promocao-container {
  text-align: center;
  margin-top: 50px;

}

.promocao-container p {
  color: #D2AD6F; 
  font-size: 18px;
  margin-bottom: 20px;
  width: 300px;
}

.form-container {
  display: flex;
  flex-direction: column; 
  align-items: end;
  margin-right: 120px;
}

.info_form_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  font-family: Katibeh;
}

.input-email {
  width: 260px;
  padding: 12px;
  border: 1px solid #998050; 
  border-radius: 12px;
  text-align: center;
  color: #7E2527;
  font-weight: bold;
  outline: none;
  font-size: 16px;
  font-family: Katibeh;
}

.input-email::placeholder {
  color: #7E2527;
  opacity: 1;
  font-weight: bold;
}

.btn-cadastrar {
  width: 260px;
  padding: 12px;
  background-color: #D2C5AD; 
  border: none;
  border-radius: 12px;
  color: #7E2527;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: Katibeh;
}

.btn-cadastrar:hover {
  background-color: #c8b9a0;
}

.textsuitecoz{
  font-family: kreon;
}

.textdomo {
  font-family: kreon;
}

.textchurrua {
  font-family: kreon;
}