/* Kreon */
@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300..700&display=swap');

/* Katibeh */
@import url('https://fonts.googleapis.com/css2?family=Katibeh&display=swap');

/* Chonburi */
@import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap');

/* Kay Pho Du */
@import url('https://fonts.googleapis.com/css2?family=Kay+Pho+Du:wght@400;500;600;700&display=swap');

/* Karma */
@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap');

::-webkit-scrollbar-track {
    background: #EFE5D1;  
  }
  
  ::-webkit-scrollbar-thumb {
    background: #712123;  
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #5e1c1d;  
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: #712123 #EFE5D1;
  }
  
  body {
    scrollbar-face-color: #712123;
    scrollbar-track-color: #EFE5D1;
    scrollbar-arrow-color: #712123;
    scrollbar-shadow-color: #712123;
  }
  