*{
    margin: 0vh;
    padding: 0vh;
    box-sizing: border-box;
}

.criarUser-page { 
    background-color: #F2F2F2;
    width: 100%;  
    max-width: 100%;
    height: 100%; 
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden; 
}