.div-mae-peril{
  background-image: url("/src/assets/img/imgPerfil2.png");
  width: 1920px;
  height: 811px;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.container-perfil{
  width: 1700px;
  height: 85%;
  background-color: #efe5d1cb;
  border-radius: 20px;

}

.parte-de-cima{
  display: flex;
  border-radius: 20px;
  justify-content: space-between;
}

.info-perfil{
  
  width: 900px;
  height: 353px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 120px;
 
}

.img-possition-perfil{
  justify-content: start;
}

.img-perfil-icone{
  margin-left: 190px;
}

.text-perfil-1{
  display: flex;
  margin-bottom: 60px;
}

.text-perfil-2{
  display: flex;
}

.Email-perfil{
  margin-left: 30px;
}

.telefone-perfil{
  margin-left: 170px;
}

.parte-de-baixo{
  width: 1700px;
  height: 318px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.domo_perfil_img{
  width: 300px;
  height: 300px;

}

.text-perfil-4{
  color: #7C2728;
}

.text-perfil-3{
  margin-left: 20px;
}

.perfil-button1 {
  width: 150px;
  height: 45px;
  border-radius: 20px;
  background-color: #7F2727;
  border: none;
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  color: #EFE5D1;
  cursor: pointer;
  font-family: "Katibeh, cursive";
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
}


.perfil-button2 {
  width: 150px;
  height: 45px;
  border-radius: 20px;
  background-color: #7F2727;
  border: none;
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  color: #EFE5D1;
  cursor: pointer;
  font-family: "Katibeh, cursive";
  font-size: 1.2rem;
  font-weight: bold;

  margin-top: 20px;
}