html{
    background-image: url('/src/assets/background_login.png'); 
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    height: 100vh;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fundo { 
  width: 450px;
  height: 75vh;
  background-color: rgba(0, 0, 0, 0.521); 
  padding: 40px;
  border-radius: 20px;
  justify-content: center;
}

.logo_login {
  width: 350px; 
  height: auto;     
}

h1{ 
  margin: 0;
  padding: 0;
  font-family: Kreon;
  color: #CCAA6B
} 
/* IMPORTAR FONTES - Kreon e Katibeh */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: auto;
}

.container {
  display: flex;
  justify-content: center;
}